# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
venv/
.env

# Vue
node_modules/
dist/
.env.local
.env.*.local

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Judge
data/
test_case/
logs/